body{
font-family: 'Roboto', sans-serif;
margin:0;
}

header{
background:#2b3a55;
color:white;
padding:1rem;
}

#menu{
font-size:2rem;
background:none;
border:none;
color:white;
}

nav {
    display: flex;
    justify-content: center;
}

.navigation{
display:none;
list-style:none;
padding:0;
}

.navigation li{
padding:0.5rem;
}

.navigation a{
text-decoration:none;
color:white;
}

.navigation a:hover{
background:#5c6bc0;
padding:5px;
}

.open{
display:block;
}

main{
max-width:900px;
margin:auto;
padding:1rem;
text-align:center;
}

.container{
display:grid;
grid-template-columns:1fr;
gap:1rem;
}

figure{
margin:0;
}

img{
width:100%;
height:auto;
}

footer{
background:#2b3a55;
color:white;
text-align:center;
padding:1rem;
}